<div class="centre-brand">
  <a href="/" rel="home">
    <img alt="Go to home page" class="centre-brand__brand" src="/images/logo.svg">
  </a>
  <h1 class="centre-brand__centre inline-block align-bottom txt-caps">
    <span class="hide-visually">Westfield </span>
    Miranda
  </h1>
</div>