<div class="divider divider--btm">
  <div class="container island-ends">
    <div class="flag flag--shrink-wrap flag--align-center">
      <div class="flag__img">
        <img src="/images/disabled-icon.svg" alt="Disability icon" width="60" height="60">
      </div>
      <div class="flag__body">
        <p><strong>Have a disability permit?</strong> <span class="block">On your next visit, present your permit to concierge for validation.</span></p>
      </div>
    </div>
  </div>
</div>