<div class="divider divider--btm">
  <div class="container island-ends">
    <div class="flag flag--shrink-wrap flag--align-center">
      <div class="flag__img">
        <span class="icon icon--wheelchair icon--xlrg icon--color-light icon--flush-top"></span>
      </div>
      <div class="flag__body">
        <p><strong>Have a disability permit?</strong> <span class="block">On your next visit, present your permit to concierge for validation.</span></p>
      </div>
    </div>
  </div>
</div>