<div class="panel panel--unfocused panel--complete divider divider--btm">
  <div class="panel__hdr islet-ends divider divider--btm">
    <div class="container">
      <div class="flag">
        <div class="flag__img">
          <h3 class="panel__hdr__title txt-grey-med txt-reset">Vehicle Details</h3>
        </div>
        <div class="flag__body txt-right">
          <!-- BACKEND DEV: Link to appropriate step-->
          <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel__main">
    <div class="container island-ends">
      <!-- BACKEND DEV: If only one vehicle -->
      <p><strong>Primary Vehicle:</strong> CDE30H</p>

      <!-- BACKEND DEV: If more than one vehicle -->
      <!--<dl>
        <dt class="def-list__title">Primary Vehicle</dt>
        <dd class="def-list__desc">CDE30H</dd>
        <dt class="def-list__title">Second Vehicle</dt>
        <dd class="def-list__desc">CDE30H (0412 064 721)</dd>
      </dl>-->
    </div>
  </div>
</div>