<div class="panel panel--unfocused panel--complete divider divider--btm">
  <div class="panel__hdr islet-ends divider divider--btm">
    <div class="container">
      <div class="flag">
        <div class="flag__img">
          <h3 class="panel__hdr__title txt-grey-med txt-reset">Personal Details</h3>
        </div>
        <div class="flag__body txt-right">
          <!-- BACKEND DEV: Link to appropriate step-->
          <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel__main">
    <div class="container island-ends">
      <dl>
        <dt class="hide-visually">Name</dt>
        <dd><strong>John Smith</strong></dd>
        <dt class="hide-visually">Email</dt>
        <dd>jsmith@gmail.com</dd>
        <dt class="hide-visually">Mobile</dt>
        <dd>0402 123 456</dd>
      </dl>
    </div>
  </div>
</div>