/* ======================================================================================
   @HELPERS -> TEXT
   ====================================================================================== */

/*
	Various helpers specifically for text.
*/

/* Families */
.txt-family-open-sans {
  font-family: $font-family-opensans !important;
  font-weight: $font-family-opensans-weight !important;
}

.txt-family-lato {
  font-family: $font-family-lato;
  font-weight: $font-family-lato-weight;
}

/* Colours */
.txt-grey-med {color: $color-grey-med !important;}