<!-- Intro -->
<div class="intro mrg-base txt-center txt-grey-med">
  <h2>Modify Your Details</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<ol>

  <!-- Personal Details -->
  <li class="panel divider divider--btm">

    <!--
      BACKEND DEV: see the form validation rules in the README: https://github.com/westfield/registered_carpark_ui/blob/master/README.md.
    -->

    <form action="" method="" name="" novalidate>
      <fieldset>

        <!-- Legend -->
        <legend class="panel__hdr islet-ends">
          <span class="container block">
            <h3 class="panel__hdr__title txt-family-open-sans txt-reset txt-lrg block">
              Personal Details
            </h3>
          </span>
        </legend>
        <!-- //Legend -->

        <!-- Form fields -->
        <div class="panel__main">
          <div class="divider divider--btm">
            <div class="container island-top islet-btm">

              <!-- Form row -->
              <div class="grid grid--flush">

                <!-- First name -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base js-form-label-focus">
                    <label class="form-field__lbl block" for="firstName">
                      First Name
                      <strong class="req-field" title="Required">*</strong>
                    </label>
                    <input type="text" id="firstName" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-1">Please enter your first name</p> -->
                  </div>
                </div>
                <!-- //First name -->

                <!-- Last name -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base js-form-label-focus">
                    <label class="form-field__lbl block" for="lastName">
                      Last Name
                      <strong class="req-field" title="Required">*</strong>
                    </label>
                    <input type="text" id="lastName" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-2">Please enter your last name</p> -->
                  </div>
                </div>
                <!-- //Last name -->

              </div>
              <!-- //Form row -->

              <!-- Form row -->
              <div class="grid grid--flush">

                <!-- Mobile -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base js-form-label-focus">
                    <label class="form-field__lbl block" for="mobile">
                      <span class="grid grid--flush grid--gutter-half">
                        <span class="grid__item one-quarter">
                          Mobile
                          <strong class="req-field" title="Required">*</strong>
                        </span>
                        <span class="grid__item three-quarters">
                          <span class="form-field__msg form-field__msg--help txt-right txt-italic block">to send you alerts when required</span>
                        </span>
                      </span>
                    </label>
                    <input type="tel" id="mobile" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-3">Please enter your mobile number</p> -->
                  </div>
                </div>
                <!-- //Mobile -->

                <!-- Postcode -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base js-form-label-focus">
                    <label class="form-field__lbl block" for="postcode">
                      Postcode
                      <strong class="req-field" title="Required">*</strong>
                    </label>
                    <input type="number" min="1001" max="8000" id="postcode" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-4">Please enter your postcode</p> -->
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-5">Please enter a valid postcode, can only be four digits starting from 1001 and ending in 8000</p> -->
                  </div>
                </div>
                <!-- //Postcode -->

              </div>
              <!-- //Form row -->

              <!-- Form row -->
              <div class="grid grid--flush">

                <!-- Email -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base js-form-label-focus">
                    <label class="form-field__lbl block" for="email">
                      <span class="grid grid--flush grid--gutter-half">
                        <span class="grid__item one-third">
                          Email
                          <strong class="req-field" title="Required">*</strong>
                        </span>
                        <span class="grid__item two-thirds">
                          <span class="form-field__msg form-field__msg--help txt-right txt-italic block">for confirmation &amp; statements</span>
                        </span>
                      </span>
                    </label>
                    <input type="email" id="email" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-6">Please enter your email address</p> -->
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-7">Please enter a valid email address e.g. name@domain.com.</p> -->
                  </div>
                </div>
                <!-- //Email -->

              </div>
              <!-- //Form row -->

              <!-- Form row -->
              <div class="grid grid--flush">
                <div class="grid__item one-whole mrg-base">
                  <h3 class="txt-grey-med txt-family-open-sans">Change Password</h3>
                </div>

                <!-- New Password -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base js-form-label-focus">
                    <label class="form-field__lbl block" for="newPassword">
                      New Password
                      <strong class="req-field" title="Required">*</strong>
                    </label>
                    <input type="password" id="newPassword" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-8">Please enter a password</p> -->
                  </div>
                </div>
                <!-- //New Password -->

                <!-- Confirm Password -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base js-form-label-focus">
                    <label class="form-field__lbl block" for="confirmPassword">
                      Confirm Password
                      <strong class="req-field" title="Required">*</strong>
                    </label>
                    <input type="password" id="confirmPassword" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-9">Please enter a password</p> -->
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-10">Password must match</p> -->
                  </div>
                </div>
                <!-- //Confirm Password -->

              </div>
              <!-- //Form row -->

            </div>
          </div>

          <!-- Form submit -->
          <div class="container island-ends txt-center">
            <button type="submit" class="btn btn--main">Save Details</button>
          </div>
          <!-- //Form submit -->

        </div>
        <!-- //Form fields -->

      </fieldset>
    </form>
  </li>
  <!-- //Personal Details -->

  <!-- Vehicle Information -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm">
      <div class="container">
        <div class="flag">
          <div class="flag__img">
            <h3 class="panel__hdr__title txt-family-open-sans txt-grey-med txt-reset txt-lrg">
              Vehicle Information
            </h3>
          </div>
          <div class="flag__body txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <p><strong>Primary Vehicle:</strong> CDE30H</p>

        <!-- BACKEND DEV: If more than one vehicle -->
        <!--<dl>
          <dt class="def-list__title">Primary Vehicle</dt>
          <dd>CDE30H</dd>
          <dt class="def-list__title">Second Vehicle</dt>
          <dd>CDE30H (0412 064 721)</dd>
        </dl>-->
      </div>
    </div>
  </li>
  <!-- //Vehicle Information -->

  <!-- Payment Details -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm">
      <div class="container">
        <div class="flag">
          <div class="flag__img">
            <h3 class="panel__hdr__title txt-family-open-sans txt-grey-med txt-reset txt-lrg">
              Payment Details
            </h3>
          </div>
          <div class="flag__body txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <p><strong>Pre-paid $50</strong> from your Mastercard ending 2162</p>
      </div>
    </div>
  </li>
  <!-- //Payment Details -->

  <!-- Notifications -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm">
      <div class="container">
        <div class="flag">
          <div class="flag__img">
            <h3 class="panel__hdr__title txt-family-open-sans txt-grey-med txt-reset txt-lrg">
              Notifications
            </h3>
          </div>
          <div class="flag__body txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <ul class="container island-ends">
        <li>Email statements</li>
        <li>SMS when I enter exit the centre</li>
      </ul>
    </div>
  </li>
  <!-- //Notifications -->

</ol>
<!-- //Main -->