<!-- Intro -->
{{> intros/modify}}
<!-- //Intro -->

<!-- Main -->

<!-- Personal Details -->
{{> modify/personal}}
<!-- //Personal Details -->

<!-- Vehicle Details -->
<div class="panel">

  <div class="panel__hdr islet-ends divider divider--btm">
    <div class="container">
      <h3 class="panel__hdr__title txt-reset">Vehicle Details</h3>
    </div>
  </div>

  <!--
    BACKEND DEV: see the form validation rules in the README: https://github.com/westfield/registered_carpark_ui/blob/master/README.md.
  -->

  <form class="panel__main" action="" method="" name="" novalidate>

    <!-- Primary vehicle -->
    <div class="divider divider--btm">
      <div class="container island-ends">
        <fieldset>
          <legend class="frm-hdr one-whole h3 txt-grey-med txt-reset flush-btm">Primary Vehicle</legend>

          <div class="grid grid--flush">

            <!-- Primary licence plate -->
            <div class="grid__item non-palm-one-half">
              <div class="form-field mrg-half js-form-label-focus">
                <label class="form-field__lbl block" for="licencePlate">
                  Primary Licence Plate
                  <strong class="req-field" title="Required">*</strong>
                </label>
                <input type="text" id="licencePlate" class="txt-input" aria-required="true" required>
                <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-1">Please enter your licence plate number</p> -->
                <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-2">Please enter a valid licence plate number</p> -->
              </div>
            </div>
            <!-- //Primary licence plate -->

          </div>

          <div class="grid grid--flush">

            <!-- Add another vehicle button -->
            <div class="grid__item non-palm-one-half">
              <button type="button" class="btn btn--full btn--main btn--main-dark fade-in js-licence-plate-add-btn js-disabled-hide">+ Add another vehicle</button>
            </div>
            <!-- //Add another vehicle button -->

          </div>

        </fieldset>
      </div>
    </div>
    <!-- //Primary vehicle -->

    <!-- Additional vehicle licence plates -->
    <div class="divider divider--btm js-licence-plate-additional-container js-hide-show">
      <div class="container island-top">

        <fieldset>
          <legend class="frm-hdr one-whole h3 txt-grey-med txt-reset flush-btm">Additional Vehicles</legend>

          <!-- Additional vehicle #1 -->
          <div class="mrg-base fade-in no-outline js-hide-show js-licence-plate-additional" tabindex="-1">

            <div class="grid grid--flush">

              <!-- Licence plate -->
              <div class="grid__item non-palm-one-half">
                <div class="form-field mrg-half js-form-label-focus">
                  <label class="form-field__lbl block" for="licencePlate2">
                    Licence Plate
                    <strong class="req-field" title="Required">*</strong>
                  </label>
                  <input type="text" id="licencePlate2" class="txt-input" aria-required="true" required>
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-1">Please enter your licence plate number</p> -->
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-2">Please enter a valid licence plate number</p> -->
                </div>
              </div>
              <!-- //Licence plate -->

              <!-- Mobile no -->
              <div class="grid__item non-palm-one-half">
                <div class="form-field mrg-half js-form-label-focus">
                  <label class="form-field__lbl block" for="mobile">
                    Mobile for Vehicle
                    <strong class="req-field" title="Required">*</strong>
                  </label>
                  <input type="tel" id="mobile" class="txt-input" aria-required="true" required>
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-3">Please enter your mobile number</p> -->
                </div>
              </div>
              <!-- //Mobile no -->

            </div>

            <button type="button" class="btn btn--faux-link js-licence-plate-remove-btn js-disabled-hide">Remove this vehicle</button>
          </div>
          <!-- //Additional vehicle #1 -->

          <!-- Additional vehicle #2 -->
          <div class="mrg-base fade-in no-outline js-hide-show js-licence-plate-additional" tabindex="-1">

            <div class="grid grid--flush">

              <!-- Licence plate -->
              <div class="grid__item non-palm-one-half">
                <div class="form-field mrg-half js-form-label-focus">
                  <label class="form-field__lbl block" for="licencePlate3">
                    Licence Plate
                    <strong class="req-field" title="Required">*</strong>
                  </label>
                  <input type="text" id="licencePlate3" class="txt-input" aria-required="true" required>
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-1">Please enter your licence plate number</p> -->
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-2">Please enter a valid licence plate number</p> -->
                </div>
              </div>
              <!-- //Licence plate -->

              <!-- Mobile no -->
              <div class="grid__item non-palm-one-half">
                <div class="form-field mrg-half js-form-label-focus">
                  <label class="form-field__lbl block" for="mobile2">
                    Mobile for Vehicle
                    <strong class="req-field" title="Required">*</strong>
                  </label>
                  <input type="tel" id="mobile2" class="txt-input" aria-required="true" required>
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-3">Please enter your mobile number</p> -->
                </div>
              </div>
              <!-- //Mobile no -->

            </div>

            <button type="button" class="btn btn--faux-link js-licence-plate-remove-btn js-disabled-hide">Remove this vehicle</button>
          </div>
          <!-- //Additional vehicle #2 -->

          <!-- Additional vehicle #3 -->
          <div class="mrg-base fade-in no-outline js-hide-show js-licence-plate-additional" tabindex="-1">

            <div class="grid grid--flush">

              <!-- Licence plate -->
              <div class="grid__item non-palm-one-half">
                <div class="form-field mrg-half js-form-label-focus">
                  <label class="form-field__lbl block" for="licencePlate4">
                    Licence Plate
                    <strong class="req-field" title="Required">*</strong>
                  </label>
                  <input type="text" id="licencePlate4" class="txt-input" aria-required="true" required>
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-1">Please enter your licence plate number</p> -->
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-2">Please enter a valid licence plate number</p> -->
                </div>
              </div>
              <!-- //Licence plate -->

              <!-- Mobile no -->
              <div class="grid__item non-palm-one-half">
                <div class="form-field mrg-half js-form-label-focus">
                  <label class="form-field__lbl block" for="mobile3">
                    Mobile for Vehicle
                    <strong class="req-field" title="Required">*</strong>
                  </label>
                  <input type="tel" id="mobile3" class="txt-input" aria-required="true" required>
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-3">Please enter your mobile number</p> -->
                </div>
              </div>
              <!-- //Mobile no -->

            </div>

            <button type="button" class="btn btn--faux-link js-licence-plate-remove-btn js-disabled-hide">Remove this vehicle</button>
          </div>
          <!-- //Additional vehicle #3 -->

        </fieldset>

      </div>
    </div>
    <!-- //Additional vehicle licence plates -->

    <!-- Have a disability permit -->
    {{> disability-permit}}
    <!-- //Have a disability permit -->

    <!-- Form submit -->
    <div class="divider divider--btm">
      <div class="container island-ends txt-center">
        <button type="submit" class="btn btn--main">Save Details</button>
      </div>
    </div>
    <!-- //Form submit -->

  </form>

</div>
<!-- //Vehicle Details -->

<!-- Payment Details -->
{{> modify/payment}}
<!-- //Payment Details -->

<!-- Notifications -->
{{> modify/notification}}
<!-- //Notifications -->

<!-- //Main -->