<!-- Intro -->
{{> intros/modify}}
<!-- //Intro -->

<!-- Main -->
<!-- Personal Details -->
{{> modify/personal}}
<!-- //Personal Details -->

<!-- Vehicle Details -->
{{> modify/vehicle}}
<!-- //Vehicle Details -->

<!-- Payment Details -->
<div class="panel divider divider--btm">
  {{> forms/payment}}
</div>
<!-- //Payment Details -->

<!-- Notifications -->
{{> modify/notification}}
<!-- //Notifications -->
<!-- //Main -->