<!-- Intro -->
<div class="intro mrg-base txt-center txt-grey-med">
  <h2>Modify Your Details</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<ol>

  <!-- Personal Details -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm">
      <div class="container">
        <div class="flag">
          <div class="flag__img">
            <h3 class="panel__hdr__title txt-family-open-sans txt-grey-med txt-reset txt-lrg">
              Personal Details
            </h3>
          </div>
          <div class="flag__body txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <dl>
          <dt class="hide-visually">Name</dt>
          <dd><strong>John Smith</strong></dd>
          <dt class="hide-visually">Email</dt>
          <dd>jsmith@gmail.com</dd>
          <dt class="hide-visually">Mobile</dt>
          <dd>0402 123 456</dd>
        </dl>
      </div>
    </div>
  </li>
  <!-- //Personal Details -->

  <!-- Vehicle Information -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm">
      <div class="container">
        <div class="flag">
          <div class="flag__img">
            <h3 class="panel__hdr__title txt-family-open-sans txt-grey-med txt-reset txt-lrg">
              Vehicle Information
            </h3>
          </div>
          <div class="flag__body txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <!-- BACKEND DEV: If only one vehicle -->
        <p><strong>Primary Vehicle:</strong> CDE30H</p>

        <!-- BACKEND DEV: If more than one vehicle -->
        <!--<dl>
          <dt class="def-list__title">Primary Vehicle</dt>
          <dd>CDE30H</dd>
          <dt class="def-list__title">Second Vehicle</dt>
          <dd>CDE30H (0412 064 721)</dd>
        </dl>-->
      </div>
    </div>
  </li>
  <!-- //Vehicle Information -->

  <!-- Payment Details -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm">
      <div class="container">
        <div class="flag">
          <div class="flag__img">
            <h3 class="panel__hdr__title txt-family-open-sans txt-grey-med txt-reset txt-lrg">
              Payment Details
            </h3>
          </div>
          <div class="flag__body txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <p><strong>Pre-paid $50</strong> from your Mastercard ending 2162</p>
      </div>
    </div>
  </li>
  <!-- //Payment Details -->

  <!-- Notifications -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm">
      <div class="container">
        <div class="flag">
          <div class="flag__img">
            <h3 class="panel__hdr__title txt-family-open-sans txt-grey-med txt-reset txt-lrg">
              Notifications
            </h3>
          </div>
          <div class="flag__body txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <ul class="container island-ends">
        <li>Email statements</li>
        <li>SMS when I enter exit the centre</li>
      </ul>
    </div>
  </li>
  <!-- //Notifications -->

</ol>
<!-- //Main -->