<!-- Intro -->
{{> intros/modify}}
<!-- //Intro -->

<!-- Main -->

<!-- Personal Details -->
{{> modify/personal}}
<!-- //Personal Details -->

<!-- Vehicle Details -->
{{> modify/vehicle}}
<!-- //Vehicle Details -->

<!-- Payment Details -->
{{> modify/payment}}
<!-- //Payment Details -->

<!-- Notifications -->
<div class="panel divider divider--btm">
  <!--
    BACKEND DEV: see the form validation rules in the README: https://github.com/westfield/registered_carpark_ui/blob/master/README.md.
  -->
  <form action="" method="" name="" novalidate>
    <fieldset>

      <!-- Legend -->
      <legend class="panel__hdr islet-ends">
        <span class="container block">
          <span class="panel__hdr__title txt-family-open-sans block">Notifications</span>
        </span>
      </legend>
      <!-- //Legend -->

      <!-- Form fields -->
      <div class="panel__main">
        <div class="divider divider--btm">
          <div class="container island-ends">

            <!-- Form list -->
            <ul>
              <li>
                <input class="align-middle" type="checkbox" id="emailStatements">
                <label class="align-middle" for="emailStatements">Email statements</label>
              </li>
              <li>
                <input class="align-middle" type="checkbox" id="emailNewsletters">
                <label class="align-middle" for="emailNewsletters">Email newsletters</label>
              </li>
              <li>
                <input class="align-middle" type="checkbox" id="smsEnterExit">
                <label class="align-middle" for="smsEnterExit">SMS when I enter or exit the centre</label>
              </li>
              <li>
                <input class="align-middle" type="checkbox" id="smsCreditExpiry">
                <label class="align-middle" for="smsCreditExpiry">SMS when credit card expires</label>
              </li>
            </ul>
            <!-- //Form list -->

          </div>
        </div>

        <!-- Save Details -->
        <div class="container island-ends txt-center">
          <button type="submit" class="btn btn--main">Save Details</button>
        </div>
        <!-- //Save Details -->

      </div>
      <!-- Form fields -->

    </fieldset>
  </form>
</div>
<!-- //Notifications -->

<!-- //Main -->