<!-- Intro -->
<div class="intro mrg-base txt-center txt-grey-med">
  <h2>Modify Your Details</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<!-- Personal Details -->
<div class="panel panel--unfocused panel--complete divider divider--btm">
  <div class="panel__hdr islet-ends divider divider--btm">
    <div class="container">
      <div class="flag">
        <div class="flag__img">
          <h3 class="panel__hdr__title txt-grey-med txt-reset">
            Personal Details
          </h3>
        </div>
        <div class="flag__body txt-right">
          <!-- BACKEND DEV: Link to appropriate step-->
          <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel__main">
    <div class="container island-ends">
      <dl>
        <dt class="hide-visually">Name</dt>
        <dd><strong>John Smith</strong></dd>
        <dt class="hide-visually">Email</dt>
        <dd>jsmith@gmail.com</dd>
        <dt class="hide-visually">Mobile</dt>
        <dd>0402 123 456</dd>
      </dl>
    </div>
  </div>
</div>
<!-- //Personal Details -->

<!-- Vehicle Details -->
<div class="panel panel--unfocused panel--complete divider divider--btm">
  <div class="panel__hdr islet-ends divider divider--btm">
    <div class="container">
      <div class="flag">
        <div class="flag__img">
          <h3 class="panel__hdr__title txt-grey-med txt-reset">
            Vehicle Details
          </h3>
        </div>
        <div class="flag__body txt-right">
          <!-- BACKEND DEV: Link to appropriate step-->
          <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel__main">
    <div class="container island-ends">
      <!-- BACKEND DEV: If only one vehicle -->
      <p><strong>Primary Vehicle:</strong> CDE30H</p>

      <!-- BACKEND DEV: If more than one vehicle -->
      <!--<dl>
        <dt class="def-list__title">Primary Vehicle</dt>
        <dd>CDE30H</dd>
        <dt class="def-list__title">Second Vehicle</dt>
        <dd>CDE30H (0412 064 721)</dd>
      </dl>-->
    </div>
  </div>
</div>
<!-- //Vehicle Details -->

<!-- Payment Details -->
<div class="panel panel--unfocused panel--complete divider divider--btm">
  <div class="panel__hdr islet-ends divider divider--btm">
    <div class="container">
      <div class="flag">
        <div class="flag__img">
          <h3 class="panel__hdr__title txt-grey-med txt-reset">
            Payment Details
          </h3>
        </div>
        <div class="flag__body txt-right">
          <!-- BACKEND DEV: Link to appropriate step-->
          <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel__main">
    <div class="container island-ends">
      <p><strong class="block">Pre-paid $50</strong> from your Mastercard ending 2162</p>
    </div>
  </div>
</div>
<!-- //Payment Details -->

<!-- Notifications -->
<div class="panel panel--unfocused panel--complete divider divider--btm">
  <div class="panel__hdr islet-ends divider divider--btm">
    <div class="container">
      <div class="flag">
        <div class="flag__img">
          <h3 class="panel__hdr__title txt-grey-med txt-reset">
            Notifications
          </h3>
        </div>
        <div class="flag__body txt-right">
          <!-- BACKEND DEV: Link to appropriate step-->
          <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
        </div>
      </div>
    </div>
  </div>

  <div class="panel__main">
    <ul class="container island-ends">
      <li>Email statements</li>
      <li>SMS when I enter or exit the centre</li>
    </ul>
  </div>
</div>
<!-- //Notifications -->
<!-- //Main -->