<!-- Intro -->
<div class="intro mrg-base txt-center txt-grey-med">
  <h2>Reset Password</h2>
</div>
<!-- //Intro -->

<!-- Main -->

<!--
  BACKEND DEV: see the form validation rules in the README: https://github.com/westfield/registered_carpark_ui/blob/master/README.md.
-->

<form class="panel divider divider--btm" action="" method="" name="" novalidate>
  <fieldset>

    <!-- Form fields -->
    <div class="panel__main">
      <div class="divider divider--btm">
        <div class="container island-top islet-btm">

          <p class="txt-grey-med">Enter your new password below.</p>

          <!-- Form row -->
          <div class="grid grid--flush">

            <!-- Password -->
            <div class="grid__item non-palm-one-half">
              <div class="form-field mrg-base js-form-label-focus">
                <label class="form-field__lbl block" for="password">
                  Password
                  <strong class="req-field" title="Required">*</strong>
                </label>
                <input type="password" id="password" class="txt-input" aria-required="true" required>
                <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-1">Please enter a password</p> -->
              </div>
            </div>
            <!-- //Password -->

            <!-- Confirm password -->
            <div class="grid__item non-palm-one-half">
              <div class="form-field mrg-base js-form-label-focus">
                <label class="form-field__lbl block" for="passwordConfirm">
                  Confirm Password
                  <strong class="req-field" title="Required">*</strong>
                </label>
                <input type="password" id="passwordConfirm" class="txt-input" aria-required="true" required>
                <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-2">Please enter a password</p> -->
                <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-3">Passwords don't match</p> -->
              </div>
            </div>
            <!-- //Confirm password -->

          </div>
          <!-- //Form row -->

        </div>
      </div>

      <!-- Form submit -->
      <div class="container island-ends txt-center">
        <button type="submit" class="btn btn--main">Reset Your Password</button>
      </div>
      <!-- //Form submit -->

    </div>
    <!-- //Form fields -->

  </fieldset>
</form>
<!-- //Login -->

<!-- //Main -->