<!-- Intro -->
<div class="intro mrg-base txt-center txt-grey-med">
  <h2>Thanks John!</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<div class="panel divider divider--btm">
  <div class="panel__main container island-ends txt-center txt-family-lato txt-lrg">
    <p>We've sent you an email to your registered email address.</p>
    <p>Select the link in your email address to continue.</p>
  </div>
</div>
<!-- //Main -->