<!-- Intro -->
<div class="intro mrg-base txt-center txt-grey-med">
  <h2>Thanks John!</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<div class="panel divider divider--btm">
  <div class="panel__main divider divider--btm">
    <div class="container island-ends txt-center txt-family-lato txt-lrg">
      <p>Your password has been reset.</p>
    </div>
  </div>
  <div class="container island-ends txt-center">
    <a href="#" class="btn btn--main">Log In</a>
  </div>
</div>
<!-- //Main -->