/* ======================================================================================
   @FRAMEWORK OVERRIDES
   ====================================================================================== */

/*
  Note: any variables you find set in css-framework’ '_vars.scss' that you do not wish to keep, simply redefine here. This means that if css-framework, for example, sets your `$font-size` at `14px` and you wish it to be `16px`, simply redeclare it here, see example below. css-framework ignores its own variables in favour of using your own, so you can completely modify how css-framework works without ever having to alter the framework itself. Just make sure to declare your overrides here and do not use the `!default` keyword.
*/

/* [GRID/LAYOUT]
-------------------------------------------------------*/

/* Page container min width */
$page-container-min-width: 280;

/* Page container max width */
$page-container-max-width: 1200;

/* [COLOR PALETTE]
-------------------------------------------------------*/

/* Greys */

/* Dark */
$color-grey-dark: #29292b;

/* Light */
$color-grey-light: #e8e8e8;

/* Text */

/* Base */
$color-txt-base: #000;

/* Link colours */
$color-link: #256e9e;

/* Feedback colours */

/* Error */
$color-feedback-error: #da291c;

/* Divider border colour */
$color-divider-border: $color-grey-med-lighter;

/* Forms */

/* Input text */
$color-input-txt: #000 !default;

/* Input border */
$color-input-border: $color-grey-med-lighter;

/* Input focus colour */
$color-input-focus: $color-blue-light;

/* [SPECIFIC BREAKPOINT CLASSES]
-------------------------------------------------------*/

/* Width classes - mainly used with the grid */
$width-classes-at-breakpoint-non-palm: true;