/* ======================================================================================
   @UTILS -> VARIABLES
   ====================================================================================== */

/* [MORE TYPOGRAPHY]
-------------------------------------------------------*/
/* Families */
$font-family-lato: "Lato", sans-serif;
$font-family-lato-weight: 300;

$font-family-opensans: "Open Sans", sans-serif;
$font-family-opensans-weight: 400;

/* [COLOR PALETTE]
-------------------------------------------------------*/
/* Greys */
$color-grey-med-light: #b2b2b2;

$color-grey-lighter: #f2f2f2;

/* [GRID/LAYOUT]
-------------------------------------------------------*/
/* Page narrow container width */
$page-container-max-width-narrow: 620;