/* ======================================================================================
   @MODULES -> PAGER
   ====================================================================================== */

/*
	For paging between sets of pages via 'Prev' and 'Next' links, also includes a page count.
*/

.pager {position: relative;}

  /* Prev and next links */
  .pager__link {
    position: absolute;
    top: 0;
  }

  /* Modifier: prev */
  .pager__link--prev {
    left: 0;

    /* Position off-centre at this breakpoint */
    @include respond-min($non-palm) {
      left: 50%;
      @include to-rem(margin-left, -$spacing-dbl*3);
    }
  }

  /* Modifier: next */
  .pager__link--next {
    right: 0;

    /* Position off-centre at this breakpoint */
    @include respond-min($non-palm) {
      right: 50%;
      @include to-rem(margin-right, -$spacing-dbl*3);
    }
  }