/* ======================================================================================
   @LAYOUT -> CONTAINERS
   ====================================================================================== */

/* Modifier: narrow at non-palm */
@include respond-min($non-palm) {
  .container-non-palm--narrow {@include to-rem(max-width, $page-container-max-width-narrow);}
}

/* Modifier: dark */
.container--dark {background-color: $color-black;}

/* Modifier: darkless */
.container--dark-less {background-color: $color-grey-dark;}

/* Modifier: light */
.container--light {background-color: $color-white;}