/* ======================================================================================
   @LAYOUT -> SITE STRUCTURE -> GLOBAL -> FOOTER
   ====================================================================================== */

.footer {
  background-color: $color-black;
  color: $color-white;

  a {color: $color-white;}
}

  .footer__social {

    @include to-rem(padding-bottom, $spacing-half);

    @include respond-min($non-palm) {
      @include to-rem(padding, $spacing-base 0 0);
      text-align: right;
    }

    li {
      @include to-rem(padding-right, $spacing-half);

      &:last-child {padding-right: 0;}
    }
  }

  .footer__nav {
    background-color: $color-grey-dark;

    li {
      border-bottom: 1px solid $color-black;

      @include respond-min($non-palm) {
        display: inline-block;
        border-bottom: 0;
        @include to-rem(padding-right, $spacing-base);

        &:last-child {padding-right: 0;}
      }
    }

      a {
        display: block;
        @include to-rem(padding-top padding-bottom, $spacing-half);
        color: $color-grey-med;
      }
  }

  .footer__copyright {
    color: $color-grey-med;
    @include font-size($font-size-smler);

    @include respond-min($non-palm) {text-align: right;}
  }