/* ======================================================================================
   @LAYOUT -> SITE STRUCTURE -> GLOBAL -> FOOTER
   ====================================================================================== */

.footer {
  background-color: $color-black;

  &,
  a {color: $color-white;}

  a:hover,
  a:focus {opacity: 0.8;}
}

  /* Shared */
  @include respond-min($non-palm) {
    .footer__social,
    .footer__legal--copyright {text-align: right;}
  }

  /* Social follow links */
  .footer__social {
    @include to-rem(padding-top, $spacing-base);

    @include respond-min($non-palm) {
      padding-top: 0;
    }
  }

  /* Legal */
  .footer__legal {
    &,
    a {color: $color-grey-med-light;}
  }

  /* Modifier: T&C's */
  .footer__legal--terms a {
    display: block;

    @include respond-min($non-palm) {
      display: inline-block;
    }
  }

  /* Modifier: copyright */
  @include respond-min($non-palm) {
    .footer__legal--copyright {@include to-rem(margin-top, -41);}
  }