/* ======================================================================================
   @LAYOUT -> SITE STRUCTURE -> GLOBAL -> HEADER
   ====================================================================================== */

.header {
  color: $color-black;

  a:hover,
  a:focus {opacity: 0.8;}
}

  /* Nav */
  .header__nav {
    &,
    a {color: $color-grey-med;}
  }

    /* Single link */
    .header__nav__single {border-left: 1px solid $color-grey-light;}