<!--
      BACKEND DEV: see the form validation rules in the README: https://github.com/westfield/registered_carpark_ui/blob/master/README.md.
    -->

<form action="" method="" name="" novalidate>
  <fieldset>

    <!-- Legend -->
    <legend class="panel__hdr islet-ends">
      <span class="container block">
        <span class="panel__hdr__title txt-family-open-sans block">
          <!-- BACKEDEND DEV: these two spans are not needed on modify page -->
          <span class="hide-visually">Step. </span>
          <span class="panel__hdr__title__no txt-center inline-block">3</span>
          Payment Details
        </span>
      </span>
    </legend>
    <!-- //Legend -->

    <!-- Form fields -->
    <div class="panel__main">
      <div class="divider divider--btm">
        <div class="container island-top islet-btm">

          <!-- Choose a payment type -->
          <div class="txt-center txt-grey-med mrg-dbl">
            <h3 class="hide-visually js-disabled-hide">Choose a payment type</h3>
            <ul class="horiz-list horiz-list--gutter-base mrg-base js-disabled-hide">
              <li>
                <label for="prepaid" class="block">Prepaid</label>
                <input type="radio" id="prepaid" class="js-payment-type-prepaid-input" name="payment-type" checked>
              </li>
              <li>
                <label for="pay-per-visit" class="block">Pay Per Visit</label>
                <input type="radio" id="pay-per-visit" class="js-payment-type-pay-per-visit-input" name="payment-type">
              </li>
              <li>
                <label for="paystation" class="block">Paystation</label>
                <input type="radio" id="paystation" class="js-payment-type-paystation-input" name="payment-type">
              </li>
            </ul>
            <p class="flush-btm js-payment-type-intro-1"><small class="txt-sml">We'll deduct the prepaid amount from your account when it's below $10.</small></p>
            <p class="flush-btm js-payment-type-intro-2 js-payment-type-default-hide js-disabled-hide"><small class="txt-sml">We'll just charge your credit card every time you visit.</small></p>
          </div>
          <!-- //Choose a payment type -->

          <p class="txt-center mrg-half js-payment-type-paystation-msg js-payment-type-default-hide js-disabled-hide">No credit card needed. Just pay at the paystation when you visit.</p>

          <div class="js-payment-type-form">

            <!-- Form row -->
            <div class="grid grid--flush">

              <!-- Prepaid Amount -->
              <div class="grid__item non-palm-one-half js-payment-type-form-prepaid-amount">
                <div class="form-field mrg-base js-form-label-focus">
                  <label class="form-field__lbl block" for="prepaidAmount">
                    Select Prepaid amount
                    <strong class="req-field" title="Required">*</strong>
                  </label>
                  <span class="select-fancy inline-block">
                    <select id="prepaidAmount" aria-required="true" required>
                      <option selected>Select amount&hellip;</option>
                      <option>$20</option>
                      <option>$50</option>
                      <option>$80</option>
                      <option>$100</option>
                    </select>
                    <span class="select-fancy__arrow icon icon--arrow-down-full icon--flush-top" aria-hidden="true"></span>
                  </span>
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-1">Please choose a prepaid amount</p> -->
                </div>
              </div>
              <!-- //Prepaid Amount -->

              <!-- Card Number -->
              <div class="grid__item non-palm-one-half js-payment-type-grid-item-full">
                <div class="form-field mrg-base js-form-label-focus">
                  <label class="form-field__lbl block" for="cardNumber">
                    <span class="grid grid--flush grid--gutter-half">
                      <span class="grid__item one-half">
                        Card Number
                        <strong class="req-field" title="Required">*</strong>
                      </span>
                      <span class="grid__item one-half txt-right">
                        <span class="hide-visually">cards accepted:</span>
                        <span class="cursor-default">
                          <span class="sprite sprite--cards sprite--cards--animate sprite--cards--visa js-credit-card-type js-credit-card-type-visa">VISA</span>
                          <span class="sprite sprite--cards sprite--cards--animate sprite--cards--mc js-credit-card-type js-credit-card-type-mc">MasterCard</span>
                          <span class="sprite sprite--cards sprite--cards--animate sprite--cards--amex js-credit-card-type js-credit-card-type-amex">American Express</span>
                        </span>
                      </span>
                    </span>
                  </label>
                  <input type="text" id="cardNumber" class="txt-input js-credit-card-type-input" autocomplete="off" maxlength="17" aria-required="true" required>
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-2">Please enter your card number</p> -->
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-3">Please enter a valid credit card number</p> -->
                </div>
              </div>
              <!-- //Card Number -->

            </div>
            <!-- //Form row -->

            <!-- Form row -->
            <div class="grid grid--flush">

              <!-- Expiry -->
              <div class="grid__item non-palm-one-half mrg-base js-form-label-focus js-faux-label-container">
                <div class="form-field__lbl form-field__lbl--faux js-faux-label" aria-hidden="true">
                  Expiry
                  <strong class="req-field" title="Required">*</strong>
                </div>
                <div class="grid grid--flush">

                  <!-- Expiry month -->
                  <div class="grid__item one-half">
                    <div class="form-field">
                      <label class="hide-visually" for="expiryMonth">
                        Expiry month
                        <strong class="req-field" title="Required">*</strong>
                      </label>
                      <span class="select-fancy inline-block">
                        <select id="expiryMonth" aria-required="true" required>
                          <option selected>Month</option>
                          <option>01</option>
                          <option>02</option>
                          <option>03</option>
                          <option>04</option>
                          <option>05</option>
                          <option>06</option>
                          <option>07</option>
                          <option>08</option>
                          <option>09</option>
                          <option>10</option>
                          <option>11</option>
                          <option>12</option>
                        </select>
                        <span class="select-fancy__arrow icon icon--arrow-down-full icon--flush-top" aria-hidden="true"></span>
                      </span>
                    </div>
                  </div>
                  <!-- //Expiry month -->

                  <!-- Expiry year -->
                  <div class="grid__item one-half">
                    <div class="form-field">
                      <label class="hide-visually" for="expiryMonth">
                        Expiry year
                        <strong class="req-field" title="Required">*</strong>
                      </label>
                      <span class="select-fancy inline-block">
                        <select id="expiryMonth" aria-required="true" required>
                          <option selected>Year</option>
                          <option>14</option>
                          <option>15</option>
                          <option>16</option>
                          <option>17</option>
                          <option>18</option>
                          <option>19</option>
                          <option>20</option>
                          <option>21</option>
                          <option>22</option>
                        </select>
                        <span class="select-fancy__arrow icon icon--arrow-down-full icon--flush-top" aria-hidden="true"></span>
                      </span>
                    </div>
                  </div>
                  <!-- //Expiry year -->

                </div>
                <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-4">Please enter your expiry date</p> -->
              </div>
              <!-- //Expiry -->

              <!-- Name on Card -->
              <div class="grid__item non-palm-one-half">
                <div class="form-field mrg-base js-form-label-focus">
                  <label class="form-field__lbl block" for="nameOnCard">
                    Name on Card
                    <strong class="req-field" title="Required">*</strong>
                  </label>
                  <input type="text" id="nameOnCard" class="txt-input" aria-required="true" required>
                  <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-3">Please enter the name on your card</p> -->
                </div>
              </div>
              <!-- //Name on Card -->

            </div>
            <!-- //Form row -->

            <!-- Form row -->
            <div class="grid grid--flush js-payment-type-ccv">

              <!-- CCV -->
              <div class="grid__item non-palm-one-half mrg-base">
                <div class="grid grid--flush">
                  <div class="grid__item one-half">
                    <div class="form-field js-form-label-focus">
                      <label class="form-field__lbl block" for="ccv">
                        <span class="grid grid--flush grid--gutter-half">
                          <span class="grid__item two-thirds">
                            CCV
                            <strong class="req-field" title="Required">*</strong>
                          </span>
                          <span class="grid__item one-third txt-right">
                            <span class="sprite sprite--cards sprite--cards--ccv cursor-default" title="CCV is the 3 digit number on the back of your VISA or MasterCard card, for American Express it is the 4 digit number just above and to the right of your main credit card number">is the 3 digit number on the back of your VISA or MasterCard card, for American Express it is the 4 digit number just above and to the right of your main credit card number.</span>
                          </span>
                        </span>
                      </label>
                      <input type="text" id="ccv" class="txt-input" autocomplete="off" maxlength="4" aria-required="true" required>
                    </div>
                  </div>
                  <div class="grid__item one-half"></div>
                </div>
                <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-6">Please enter your CCV number</p> -->
                <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-7">Please enter a valid CCV number</p> -->
              </div>
              <!-- //CCV -->

            </div>
            <!-- //Form row -->

          </div>

        </div>
      </div>

      <!-- Form submit -->
      <div class="container island-ends txt-center">
        <!-- BACKEND DEV: when in the logged-in modify version of this form the text for this `button` should be "Save" -->
        <button type="submit" class="btn btn--main">Next Step</button>
      </div>
      <!-- //Form submit -->

    </div>
    <!-- //Form fields -->

  </fieldset>
</form>