<!-- Intro -->
<div class="intro mrg-base txt-center">
  <h2>Sign Up For Express Parking</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<ol>

  <!-- Step 1 -->
  <li class="panel divider divider--btm">

    <!--
      BACKEND DEV: see the form validation rules in the README: https://github.com/westfield/registered_carpark_ui/blob/master/README.md.
    -->

    <form action="" method="" name="" novalidate>
      <fieldset>

        <!-- Legend -->
        <legend class="panel__hdr islet-ends">
          <span class="container block">
            <span class="panel__hdr__title txt-family-open-sans block">
              <span class="hide-visually">Step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">1</span>
              Personal Details
            </span>
          </span>
        </legend>
        <!-- //Legend -->

        <!-- Form fields -->
        <div class="panel__main">
          <div class="divider divider--btm">
            <div class="container island-top islet-btm">

              <!-- Form row -->
              <div class="grid grid--flush">

                <!-- First name -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base">
                    <label class="form-field__lbl block" for="firstName">
                      First Name
                      <strong class="req-field" title="Required">*</strong>
                    </label>
                    <input type="text" id="firstName" class="txt-input is-input-error" aria-required="true" required>
                    <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-1">Please enter your first name</p>
                  </div>
                </div>
                <!-- //First name -->

                <!-- Last name -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base">
                    <label class="form-field__lbl block" for="lastName">
                      Last Name
                      <strong class="req-field" title="Required">*</strong>
                    </label>
                    <input type="text" id="lastName" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-2">Please enter your last name</p> -->
                  </div>
                </div>
                <!-- //Last name -->

              </div>
              <!-- //Form row -->

              <!-- Form row -->
              <div class="grid grid--flush">

                <!-- Mobile -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base">
                    <label class="form-field__lbl block" for="mobile">
                      <span class="grid grid--flush grid--gutter-half">
                        <span class="grid__item one-quarter">
                          Mobile
                          <strong class="req-field" title="Required">*</strong>
                        </span>
                        <span class="grid__item three-quarters">
                          <span class="form-field__msg form-field__msg--help txt-right txt-italic block">to send you alerts when required</span>
                        </span>
                      </span>
                    </label>
                    <input type="tel" id="mobile" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-3">Please enter your mobile number</p> -->
                  </div>
                </div>
                <!-- //Mobile -->

                <!-- Postcode -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base">
                    <label class="form-field__lbl block" for="postcode">
                      Postcode
                      <strong class="req-field" title="Required">*</strong>
                    </label>
                    <input type="number" min="1001" max="8000" id="postcode" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-4">Please enter your postcode</p> -->
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-5">Please enter a valid postcode, can only be four digits starting from 1001 and ending in 8000</p> -->
                  </div>
                </div>
                <!-- //Postcode -->

              </div>
              <!-- //Form row -->

              <!-- Form row -->
              <div class="grid grid--flush">

                <!-- Email -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base">
                    <label class="form-field__lbl block" for="email">
                      <span class="grid grid--flush grid--gutter-half">
                        <span class="grid__item one-third">
                          Email
                          <strong class="req-field" title="Required">*</strong>
                        </span>
                        <span class="grid__item two-thirds">
                          <span class="form-field__msg form-field__msg--help txt-right txt-italic block">for confirmation &amp; statements</span>
                        </span>
                      </span>
                    </label>
                    <input type="email" id="email" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-6">Please enter your email address</p> -->
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-7">Please enter a valid email address e.g. name@domain.com.</p> -->
                  </div>
                </div>
                <!-- //Email -->

                <!-- Password -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base">
                    <label class="form-field__lbl block" for="password">
                      Password
                      <strong class="req-field" title="Required">*</strong>
                    </label>
                    <input type="password" id="password" class="txt-input" aria-required="true" required>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-8">Please enter a password</p> -->
                  </div>
                </div>
                <!-- //Password -->

              </div>
              <!-- //Form row -->

            </div>
          </div>

          <!-- Form submit -->
          <div class="container island-ends txt-center">
            <button type="submit" class="btn btn--main">Next Step</button>
          </div>
          <!-- //Form submit -->

        </div>
        <!-- //Form fields -->

      </fieldset>
    </form>
  </li>
  <!-- //Step 1 -->

  <!-- Step 2 -->
  <li class="panel panel--unfocused divider divider--btm">
    <div class="panel__hdr islet-ends">
      <div class="container">
        <div class="panel__hdr__title txt-family-open-sans">
          <span class="hide-visually">Next step. </span>
          <span class="panel__hdr__title__no txt-center inline-block">2</span>
          Vehicle Information
        </div>
      </div>
    </div>
  </li>
  <!-- //Step 2 -->

  <!-- Step 3 -->
  <li class="panel panel--unfocused divider divider--btm">
    <div class="panel__hdr islet-ends">
      <div class="container">
        <div class="panel__hdr__title txt-family-open-sans">
          <span class="hide-visually">Next step. </span>
          <span class="panel__hdr__title__no txt-center inline-block">3</span>
          Payment Details
        </div>
      </div>
    </div>
  </li>
  <!-- //Step 3 -->

  <!-- Step 4 -->
  <li class="panel panel--unfocused divider divider--btm">
    <div class="panel__hdr islet-ends">
      <div class="container">
        <div class="panel__hdr__title txt-family-open-sans">
          <span class="hide-visually">Next step. </span>
          <span class="panel__hdr__title__no txt-center inline-block">4</span>
          Complete Registration
        </div>
      </div>
    </div>
  </li>
  <!-- //Step 4 -->

</ol>
<!-- //Main -->