<!-- Intro -->
<div class="intro mrg-base txt-center txt-grey-med">
  <h2>Thanks John!</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<div class="panel divider divider--btm">
  <div class="panel__main">
    <div class="divider divider--btm">
      <div class="container island-ends txt-center txt-family-lato txt-lrg">
        <p>We've sent you a confirmation email.</p>
        <p>Click on the link in your email address to continue.</p>
      </div>
    </div>

    <div class="container island-ends txt-center">
      <a href="#" class="btn btn--main">Resend Confirmation Email</a>
    </div>
  </div>
</div>
<!-- //Main -->