<!-- Intro -->
<div class="intro mrg-base txt-center">
  <h2>Sign Up For Express Parking</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<ol>

  <!-- Step 1 -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm txt-grey-med">
      <div class="container">
        <div class="grid grid--flush">
          <div class="grid__item three-quarters">
            <div class="panel__hdr__title txt-family-open-sans">
              <span class="hide-visually">Completed step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">1</span>
              <span class="hide-visually">Personal Details </span>
              Hi John!
            </div>
          </div>
          <div class="grid__item one-quarter txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <dl>
          <dt class="hide-visually">Name</dt>
          <dd><strong>John Smith</strong></dd>
          <dt class="hide-visually">Email</dt>
          <dd>jsmith@gmail.com</dd>
          <dt class="hide-visually">Mobile</dt>
          <dd>0402 123 456</dd>
        </dl>
      </div>
    </div>
  </li>
  <!-- //Step 1 -->

  <!-- Step 2 -->
  <li class="panel divider divider--btm">
    <!--
      BACKEND DEV: see the form validation rules in the README: https://github.com/westfield/registered_carpark_ui/blob/master/README.md.
    -->

    <form action="" method="" name="" novalidate>
      <fieldset>

        <!-- Legend -->
        <legend class="panel__hdr islet-ends">
          <span class="container block">
            <span class="panel__hdr__title txt-family-open-sans block">
              <span class="hide-visually">Step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">2</span>
              Vehicle Information
            </span>
          </span>
        </legend>
        <!-- //Legend -->

        <!-- Form fields -->
        <div class="panel__main">
          <div class="divider divider--btm">
            <div class="container island-top islet-btm">

              <!-- Form row -->
              <div class="grid grid--flush">

                <!-- License plate -->
                <div class="grid__item non-palm-one-half">
                  <div class="form-field mrg-base js-form-label-focus">
                    <label class="form-field__lbl block" for="licensePlate">
                      License Plate
                      <strong class="req-field" title="Required">*</strong>
                    </label>
                    <input type="text" id="licensePlate" class="txt-input" aria-required="true" required>
                    <p class="form-field__msg txt-italic">You can add additional vehicles once you've signed up</p>
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-1">Please enter your license plate number</p> -->
                    <!-- <p class="form-field__msg form-field__msg--validation feedback feedback--inline feedback--error" id="form-error-2">Please enter a valid license plate number</p> -->
                  </div>
                </div>
                <!-- //License plate -->

              </div>
              <!-- //Form row -->

            </div>
          </div>

          <!-- Have a disability permit -->
          <div class="divider divider--btm">
            <div class="container island-ends">
              <div class="flag flag--shrink-wrap flag--align-center">
                <div class="flag__img">
                  <span class="icon icon--wheelchair icon--xlrg icon--color-light icon--flush-top"></span>
                </div>
                <div class="flag__body">
                  <p><strong>Have a disability permit?</strong> <span class="block">On your next visit, present your permit to concierge for validation.</span></p>
                </div>
              </div>
            </div>
          </div>
          <!-- //Have a disability permit -->

          <!-- Form submit -->
          <div class="container island-ends txt-center">
            <button type="submit" class="btn btn--main">Next Step</button>
          </div>
          <!-- //Form submit -->

        </div>
        <!-- //Form fields -->

      </fieldset>
    </form>
  </li>
  <!-- //Step 2 -->

  <!-- Step 3 -->
  <li class="panel panel--unfocused divider divider--btm">
    <div class="panel__hdr islet-ends txt-grey-med">
      <div class="container">
        <div class="panel__hdr__title txt-family-open-sans">
          <span class="hide-visually">Next step. </span>
          <span class="panel__hdr__title__no txt-center inline-block">3</span>
          Payment Details
        </div>
      </div>
    </div>
  </li>
  <!-- //Step 3 -->

  <!-- Step 4 -->
  <li class="panel panel--unfocused divider divider--btm">
    <div class="panel__hdr islet-ends txt-grey-med">
      <div class="container">
        <div class="panel__hdr__title txt-family-open-sans">
          <span class="hide-visually">Next step. </span>
          <span class="panel__hdr__title__no txt-center inline-block">4</span>
          Complete Registration
        </div>
      </div>
    </div>
  </li>
  <!-- //Step 4 -->

</ol>
<!-- //Main -->