<!-- Intro -->
<div class="intro mrg-base txt-center txt-grey-med">
  <h2>Sign Up For Express Parking</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<ol>

  <!-- Step 1 -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm">
      <div class="container">
        <div class="flag">
          <div class="flag__img">
            <div class="panel__hdr__title txt-family-open-sans">
              <span class="hide-visually">Completed step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">1</span>
              <span class="hide-visually">Personal Details </span>
              <span class="txt-grey-med">Hi John!</span>
            </div>
          </div>
          <div class="flag__body txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <dl>
          <dt class="hide-visually">Name</dt>
          <dd><strong>John Smith</strong></dd>
          <dt class="hide-visually">Email</dt>
          <dd>jsmith@gmail.com</dd>
          <dt class="hide-visually">Mobile</dt>
          <dd>0402 123 456</dd>
        </dl>
      </div>
    </div>
  </li>
  <!-- //Step 1 -->

  <!-- Step 2 -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm">
      <div class="container">
        <div class="flag">
          <div class="flag__img">
            <div class="panel__hdr__title txt-family-open-sans">
              <span class="hide-visually">Completed step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">2</span>
              <span class="hide-visually">Vehicle Information </span>
              <span class="txt-grey-med">Nice wheels!</span>
            </div>
          </div>
          <div class="flag__body txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <p><strong>Primary Vehicle:</strong> CDE30H</p>
      </div>
    </div>
  </li>
  <!-- //Step 2 -->

  <!-- Step 3 -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm">
      <div class="container">
        <div class="flag">
          <div class="flag__img">
            <div class="panel__hdr__title txt-family-open-sans">
              <span class="hide-visually">Completed step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">3</span>
              <span class="hide-visually">Payment Details</span>
              <span class="txt-grey-med">Safe &amp; Secure!</span>
            </div>
          </div>
          <div class="flag__body txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <p><strong>Pre-paid $50</strong> from your Mastercard ending 2162</p>
      </div>
    </div>
  </li>
  <!-- //Step 3 -->

  <!-- Step 4 -->
  <li class="panel divider divider--btm">
    <form action="" method="" name="" novalidate>
      <fieldset>

        <!-- Legend -->
        <legend class="panel__hdr islet-ends">
          <span class="container block">
            <span class="panel__hdr__title txt-family-open-sans block">
              <span class="hide-visually">Step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">4</span>
              Complete Registration
            </span>
          </span>
        </legend>
        <!-- //Legend -->

        <!-- Form fields -->
        <div class="panel__main">
          <div class="divider divider--btm">
            <div class="container island-ends txt-center">
              <p><strong>Almost Done!</strong> <span class="block">Just review your details above and select the “Finish” button below</span></p>
              <div class="form-field js-form-label-focus">
                <input type="checkbox" id="emailCheckbox" checked>
                <label class="form-field__lbl" for="emailCheckbox">I would like to recieve emails about deals news and events at Westfield</label>
              </div>
            </div>
          </div>

          <!-- Form submit -->
          <div class="container island-ends txt-center">
            <button type="submit" class="btn btn--main">Finish</button>
            <!-- BACKEND DEV: Link to the terms & conditions -->
            <small class="txt-sml txt-grey-med block mrg-base-top">By selecting "Finish" you hereby accept our <a href="#">Terms &amp; Conditions</a></small>
          </div>
          <!-- //Form submit -->

        </div>
        <!-- //Form fields -->

      </fieldset>
    </form>
  </li>
  <!-- //Step 4 -->

</ol>
<!-- //Main -->