<!-- Intro -->
<div class="intro mrg-base txt-center txt-grey-med">
  <h2>Thanks John!</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<div class="panel divider divider--btm">
  <div class="panel__main">
    <div class="divider divider--btm">
      <div class="container island-ends txt-center txt-family-lato txt-lrg">
        <p>We've sent you a confirmation email.</p>
        <p>Select the link in your email address to continue.</p>
      </div>
    </div>

    <form action="" method="" name="" class="container island-ends txt-center" novalidate>
      <button type="submit" class="btn btn--main">Resend Confirmation Email</button>
    </form>
  </div>
</div>
<!-- //Main -->