<!-- Intro -->
{{> intro/intro-reg}}
<!-- //Intro -->

<!-- Main -->
<ol>

  <!-- Step 1 -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm">
      <div class="container">
        <div class="flag">
          <div class="flag__img">
            <div class="panel__hdr__title txt-family-open-sans">
              <span class="hide-visually">Completed step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">1</span>
              <span class="hide-visually">Personal Details </span>
              <span class="txt-grey-med">Hi John!</span>
            </div>
          </div>
          <div class="flag__body txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <dl>
          <dt class="hide-visually">Name</dt>
          <dd><strong>John Smith</strong></dd>
          <dt class="hide-visually">Email</dt>
          <dd>jsmith@gmail.com</dd>
          <dt class="hide-visually">Mobile</dt>
          <dd>0402 123 456</dd>
        </dl>
      </div>
    </div>
  </li>
  <!-- //Step 1 -->

  <!-- Step 2 -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
     <div class="panel__hdr islet-ends divider divider--btm">
       <div class="container">
         <div class="flag">
          <div class="flag__img">
             <div class="panel__hdr__title txt-family-open-sans">
               <span class="hide-visually">Completed step. </span>
               <span class="panel__hdr__title__no txt-center inline-block">2</span>
               <span class="hide-visually">Vehicle Information </span>
               <span class="txt-grey-med">Nice wheels!</span>
             </div>
           </div>
           <div class="flag__body txt-right">
             <!-- BACKEND DEV: Link to appropriate step-->
             <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
           </div>
         </div>
       </div>
     </div>

     <div class="panel__main">
       <div class="container island-ends">
         <p><strong>Primary Vehicle:</strong> CDE30H</p>
       </div>
     </div>
   </li>
  <!-- //Step 2 -->

  <!-- Step 3 -->
  <li class="panel divider divider--btm">
    <!--
        BACKEND DEV: see the form validation rules in the README: https://github.com/westfield/registered_carpark_ui/blob/master/README.md.
      -->

    <form action="" method="" name="" novalidate>
      <fieldset>

        <!-- Legend -->
        <legend class="panel__hdr islet-ends">
          <span class="container block">
            <span class="panel__hdr__title txt-family-open-sans block">
              <span class="hide-visually">Step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">3</span>
              Payment Details
            </span>
          </span>
        </legend>
        <!-- //Legend -->

        {{> forms/payment-form}}

      </fieldset>
    </form>
  </li>
  <!-- //Step 3 -->

  <!-- Step 4 -->
  <li class="panel panel--unfocused divider divider--btm">
    <div class="panel__hdr islet-ends txt-grey-med">
      <div class="container">
        <div class="panel__hdr__title txt-family-open-sans">
          <span class="hide-visually">Next step. </span>
          <span class="panel__hdr__title__no txt-center inline-block">4</span>
          Complete Registration
        </div>
      </div>
    </div>
  </li>
  <!-- //Step 4 -->

</ol>
<!-- //Main -->