<!-- Intro -->
<div class="intro mrg-base txt-center">
  <h2>Sign Up For Express Parking</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<ol>

  <!-- Step 1 -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm txt-grey-med">
      <div class="container">
        <div class="grid grid--flush">
          <div class="grid__item three-quarters">
            <div class="panel__hdr__title txt-family-open-sans">
              <span class="hide-visually">Completed step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">1</span>
              <span class="hide-visually">Personal Details </span>
              Hi John!
            </div>
          </div>
          <div class="grid__item one-quarter txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <dl>
          <dt class="hide-visually">Name</dt>
          <dd><strong>John Smith</strong></dd>
          <dt class="hide-visually">Email</dt>
          <dd>jsmith@gmail.com</dd>
          <dt class="hide-visually">Mobile</dt>
          <dd>0402 123 456</dd>
        </dl>
      </div>
    </div>
  </li>
  <!-- //Step 1 -->

  <!-- Step 2 -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm txt-grey-med">
      <div class="container">
        <div class="grid grid--flush">
          <div class="grid__item three-quarters">
            <div class="panel__hdr__title txt-family-open-sans">
              <span class="hide-visually">Completed step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">2</span>
              <span class="hide-visually">Vehicle Information </span>
              Nice wheels!
            </div>
          </div>
          <div class="grid__item one-quarter txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <p><strong>Primary Vehicle:</strong> CDE30H</p>
      </div>
    </div>
  </li>
  <!-- //Step 2 -->

  <!-- Step 3 -->
  <li class="panel panel--unfocused panel--complete divider divider--btm">
    <div class="panel__hdr islet-ends divider divider--btm txt-grey-med">
      <div class="container">
        <div class="grid grid--flush">
          <div class="grid__item three-quarters">
            <div class="panel__hdr__title txt-family-open-sans">
              <span class="hide-visually">Completed step. </span>
              <span class="panel__hdr__title__no txt-center inline-block">3</span>
              Safe &amp; Secure!
            </div>
          </div>
          <div class="grid__item one-quarter txt-right">
            <!-- BACKEND DEV: Link to appropriate step-->
            <a href="#" class="btn btn--main btn--main-dark btn--main-compact">Edit</a>
          </div>
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="container island-ends">
        <p><strong>Pre-paid $50</strong> from your Mastercard ending 2162</p>
      </div>
    </div>
  </li>
  <!-- //Step 3 -->

  <!-- Step 4 -->
  <li class="panel divider divider--btm">
    <div class="panel__hdr islet-ends">
      <div class="container">
        <div class="panel__hdr__title txt-family-open-sans">
          <span class="hide-visually">Step. </span>
          <span class="panel__hdr__title__no txt-center inline-block">4</span>
          Complete Registration
        </div>
      </div>
    </div>

    <div class="panel__main">
      <div class="divider divider--btm">
        <div class="container island-ends txt-center">
          <p><strong>Almost Done!</strong> <span class="block">Just review your details above and click on the “Finish” button below</span></p>
        </div>
      </div>
      <div class="container island-ends txt-center">
        <button type="submit" class="btn btn--main">Finish</button>
        <small class="txt-sml txt-grey-med block mrg-base-top">By clicking on "Sign me up!" you hereby accept our <a href="http://www.westfield.com.au/terms-conditions" rel="external" target="_blank">Terms &amp; Conditions</a></small>
      </div>
    </div>
  </li>
  <!-- //Step 4 -->

</ol>
<!-- //Main -->