<!-- Intro -->
<div class="intro mrg-base txt-center txt-grey-med">
  <h2>Terms &amp; Conditions</h2>
</div>
<!-- //Intro -->

<!-- Main -->
<div class="panel divider divider--btm">
  <div class="panel__main">
    <div class="container island-ends">
      <h3>Registration Conditions</h3>
      <ol class="list">
        <li>Completion and submission of the online registration form constitutes acceptance of these terms and conditions.</li>
        <li>All Express Parking members must be aged eighteen or over, hold a driving licence valid in the UK and have a UK postal address.</li>
        <li>Westfield Shoppingtowns Limited (“Westfield”) reserves the right to refuse to accept any Express Parking registrations in Westfield’s absolute discretion. Membership is subject to further verification.</li>
        <li>Failure to comply with these terms and conditions will automatically render a registration void. These terms and conditions shall be governed and construed in accordance with English law.</li>
      </ol>
      <h3>Pass Collection</h3>
      <ol class="list">
        <li>Upon registration, Westfield will contact the customer by email confirming successful registration. The email will contain information detailing the receipt process for the Express Parking pass.</li>
        <li>If the customer has nominated to collect their Express Parking pass at Westfield London, the pass must be collected from the Valet Lounge at Westfield London. For the purpose of fraud prevention, the customer must collect the Express Parking pass in person and may be asked for photo identification. If the customer does not collect their pass within two months of the date of registration, Westfield may revoke the customer’s registration and the Express Parking pass.</li>
        <li>Express Parking passes remain the property of Westfield and may only be used in accordance with these Terms and Conditions.</li>
      </ol>
      <h3>Express Parking</h3>
      <ol class="list">
        <li>The Express Parking pass is only valid for use at Westfield London. The Express Parking pass is not valid for use at any other Westfield shopping centre.</li>
        <li>It is not possible to redeem any other parking offer at Westfield London while an Express Parking pass is affixed to a vehicle. Any Express Parking user who enters the Westfield London car park using an Express Parking pass must exit with the pass. Westfield accepts no liability for any loss of the customer arising from his or her inability to redeem any parking offer.</li>
        <li>The Express Parking pass may only be affixed to the nominated vehicle registered during the registration process.</li>
        <li>Entry to and use of the Westfield London car park remains subject to the Car Park Terms and Conditions which are displayed in the Westfield London car park office and on the Westfield London website</li>
        <li>The Express Parking pass must be accepted as offered. The Express Parking pass is non-transferable and subject to availability.</li>
        <li>
          <p>The Express Parking scheme entitles the registered user to park at the Westfield London car park under a capped tariff as follows (or such other charge as Westfield may nominate from time to time):</p>
          <dl>
            <dt>Monday – Friday</dt>
            <dd>Up to 1 hour - £2.50<dd>
            <dd>Subsequent hours - £4 for a visit over 1 hour and up to 24 hours</dd>
            <dt>Saturday - Sunday</dt>
            <dd>Up to 1 hour - £2.50</dd>
            <dd>1-2 hours - £5.00</dd>
            <dd>Subsequent hours - £7 for a visit over 2 hours and up to 24 hours</dd>
          </dl>
          <p>These rates apply where each visit lasts no longer than 24 hours. In the event that the visit exceeds 24 hours, an additional £4.00 tariff will be charged for each subsequent 24 hour period Monday – Friday or £7.00 Saturday – Sunday, that the registered user’s nominated vehicle is parked in the Westfield London car park.</p>
          <p>Any change in Express Parking tariffs shall be communicated to customers via their nominated email address. Please ensure that your customer account details are accurate at all times in order to receive such communications.</p>
        </li>
        <li>Each time the registered vehicle enters and exits the car park, the tariff will be charged to the registered payment card. If the customer elects during the registration process, an SMS will be sent to the registered mobile number confirming that the charge applied to the card. The Express Parking pass must be displayed on both entry and exit to the car park.</li>
        <li>Lost or damaged Express Parking passes may be replaced at the Valet Lounge subject to the provision of satisfactory identification, which may include photo identification. Westfield reserves the rights to charge such reasonable fees as may be appropriate in the event that a replacement Express Parking pass is requested by a customer.</li>
        <li>Westfield reserves the right to withdraw the Express Parking service or to amend these terms and conditions at any time without prior notice.</li>
        <li>Westfield reserves the right at any time to cancel, modify or supersede these terms &amp; conditions if, in Westfield’s sole discretion, use of the Express Parking pass cannot be conducted as specified.</li>
      </ol>
      <h3>Data Protection</h3>
      <p>By submitting a registration, customers are sending their personal information to Westfield who will at all times process an entrant’s personal data in accordance with the UK Data Protection Act 1998 and applicable laws.</p>
    </div>
  </div>
</div>
<!-- //Main -->