/* ======================================================================================
   @BASE -> FONTS
   ====================================================================================== */

/* All `@font-face` declarations here */

/* [Icons]
-------------------------------------------------------*/
@font-face {
  font-family: "icons";
  src: url("./fonts/icons/parking.eot");
  src: url("./fonts/icons/parking.eot#iefix") format('embedded-opentype'),
       url("./fonts/icons/parking.woff") format('woff'),
       url("./fonts/icons/parking.ttf") format('truetype'),
       url("./fonts/icons/parking.svg#parking") format('svg');
  font-weight: normal;
  font-style: normal;
}