/* ======================================================================================
   @BASE -> HEADINGS
   ====================================================================================== */

/* H1 */
h1, .h1 {
  font-family: $font-family-lato;
  font-weight: $font-family-lato-weight;
}

/* H2 */
h2, .h2 {
  font-family: $font-family-opensans;
  font-weight: $font-family-opensans-weight;
}