/* ======================================================================================
   @MODULES -> ICON
   ====================================================================================== */

/*
  Applies an icon font and nothing else (similar to the sprite module).
*/

/* Set icons */

/*
  Note: make sure to use the Unicode Private Use Area.
*/

.icon--arrow-down-full:before {content: "\e000";}

.icon--arrow-left-full:before {content: "\f0d9";}

.icon--arrow-right-full:before {content: "\f0da";}

.icon--arrow-left:before {content: "\e004";}

.icon--twitter:before {content: "\e009";}

.icon--facebook:before {content: "\e00a";}

.icon--pinterest:before {content: "\e00b";}

.icon--google-plus:before {content: "\e00c";}

.icon--instagram:before {content: "\e010";}

.icon--youtube:before {content: "\e011";}

.icon--wheelchair:before {content: "\e01c";}

.icon--car:before {content: "\e018";}

.icon--file-pdf:before {content: "\e013";}

.icon--file-history:before {content: "\e019";}

.icon--user:before {content: "\e00f";}

.icon--signout:before {content: "\e014";}

.icon--off:before {content: "\e015";}

.icon--cog:before {content: "\e016";}

.icon--refresh:before {content: "\f021";}

/* Modifiers */

/* Modifier: light grey */
.icon--color-light:before {color: $color-grey-med-light;}